extends layout

block content
    h2 Currency Exchange
    h4 Elton Cheung
    hr
    p Get the currency exchange rates for a given calendar date past 1999. If this date's rates have been previously queried, they will be retrieved from cache. If not, they will be grabbed using the API.

    div(id="latest")
        form(method="post")
            input(type="date" class="input-date" name="date")
            input(type="submit" value="Get rates")
    hr
    if date
        div
            p Your query was from #[b #{found}]
            p On #{date}, the currency exchange rates for #{base} were:
            div(class="border ml-3 pt-3 pl-3")
                p CAD (Canadian Dollar): #{rates.CAD}
                p EUR (Euro): #{rates.EUR}
                p CNY (Chinese Yuan): #{rates.CNY}
                p JPY (Japanese Yen): #{rates.JPY}
                p GBP (British Pound): #{rates.GBP}



